:root {
  --primary: #68c184;
  --secondary: #040404;
  --tertiary: #ff5959;
  --neutral: #d8d8d8;
  --boxShadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  --borderRadius: 7px;
  font-size: 17px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: "Titillium Web", sans-serif;
}
img {
  max-width: 100%;
}
.information {
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 1 !important;
}
.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subHeading {
  letter-spacing: 0.3rem;
  font-weight: normal;
  font-size: 1rem;
  opacity: 0.5;
}
.bold {
  font-weight: bold;
}
.minor {
  opacity: 0.8;
  font-size: 0.9rem;
}
.mainContainer {
  width: 1000px;
  max-height: 90vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 72% 24%;
  grid-gap: 4%;
  padding: 3rem 0;
}
.mainContent {
  display: grid;
  grid-gap: 1.5rem;
  height: auto;
}
#rateBoard {
  height: max(90vh, 100px);
  width: 100%;
  background-color: #fff;
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 1rem;
}
#rateBoardHeader {
  height: 4rem;
}
#rateBoardContent {
  height: 100%;
  overflow-y: scroll;
  padding: 0.3rem 1rem;
  scrollbar-width: none;
}
.rateBoardContent--row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#mainContent__header {
  display: flex;
  justify-content: start;
  align-items: center;
}
#logo {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}
.header--mainTitle {
  font-size: 1.5rem;
  color: var(--secondary);
}
.header--snippet {
  font-size: 1rem;
  color: var(--secondary);
  opacity: 0.7;
}
.inputBox {
  width: 100%;
  margin: auto 0;
  background-color: #fff;
  padding: 0.8rem;
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  display: grid;
  grid-gap: 0.8rem;
}
.inputBox * {
  border-radius: 7px;
}
.inputFields {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.labelText {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.inactiveField {
  width: 200px;
  height: 45px;
  padding: 0.3rem;
  background-color: #ffdddd;
  border: none;
  font-size: 1rem;
}
.inactiveField:focus {
  outline: none;
}
#input {
  background-color: #fff;
  border: 1px solid var(--neutral);
  padding: 0.3rem 2.5rem 0.3rem 1rem;
  color: var(--tertiary);
  font-weight: bold;
}
#input:focus {
  border-color: var(--tertiary);
}
#saveBtn {
  width: 94px;
  height: 34px;
  font-size: 0.9rem;
  border: none;
}
#swapBtn {
  width: 45px;
  height: 45px;
  border: none;
}
#saveBtn,
#swapBtn {
  cursor: pointer;
  background-color: var(--tertiary);
  color: white;
}
.btn:hover {
  opacity: 0.8;
}
#table {
  background-color: #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  height: 0;
}
#tableHeader .tableRow {
  display: block;
  table-layout: fixed;
}
.tableRow > td,
.tableRow > th {
  padding: 0.5rem;
  text-align: left;
  width: 180px;
}
.tableRow > *:not(:first-child) {
  border-left: none;
}
.tableRow > * {
  background-color: #fff;
  /* border: 1px solid #68c184; */
}
.tableRow:nth-child(2n) > * {
  background-color: #94eaaf;
}
#tableHeader .tableRow > * {
  background-color: #ceffde;
}
#tableBody {
  table-layout: fixed;
  display: block;
  width: 100%;
  overflow-y: scroll;
  max-height: 250px;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;
}
.dropdownWrap {
  position: relative;
}
.dropdownBtn {
  width: 200px;
  height: 45px;
  background-color: var(--tertiary);
  color: #fff;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
}
.dropdownBtn[data-state="open"]::after {
  content: "";
  display: block;
  border: 10px solid var(--tertiary);
  border-color: transparent;
  border-bottom-color: var(--tertiary);
  position: absolute;
  bottom: -12px;
  left: 15px;
}
.dropdownBtn > *,
.ddOptionWrap > *,
.savedDataDeleteBtn > * {
  pointer-events: none;
}
.dropdownBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.dropdownOptions {
  position: absolute;
  top: 55px;
  width: 200px;
  height: 0px;
  background-color: #ff8989;
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  z-index: 2 !important;
  border: 0;
  transition: 0.2s ease-in;
}
.ddOptionWrap {
  display: flex;
  height: 2.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  background-color: var(--tertiary);
  border-radius: 0;
}
.ddOptionWrap:hover {
  background-color: #e44e4e;
}
.ddOptionWrap > * {
  color: #fff;
}
.openDropdown {
  height: 10rem;
}
.ddOptionIcon {
  margin-right: 0.5rem;
}
.ddOptionsWrap {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
}
.close {
  display: none;
}
.ddSelectedOption {
  background-color: #ff8b8b;
}
.ddSelectedOption:hover {
  background-color: #ff8b8b !important;
}
.inputWrap {
  position: relative;
}
#loadingGif {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 7px;
  top: 10px;
  display: none;
}
#resultBox {
  margin-left: auto;
  display: inline-block;
}
#resultAmount {
  font-size: 2rem;
  font-weight: bold;
}
#btnAndResultBox {
  display: flex;
  align-items: flex-start;
}
#noDataState {
  text-align: center;
  color: var(--tertiary);
  width: 720px;
  display: block;
}
#savedDataHeader {
  display: flex;
  justify-content: space-between;
}
#savedDataDeleteBtn {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #000;
  border-radius: 50%;
  opacity: 0.8;
  transition: 0.3s ease;
  background-color: #fff;
  cursor: pointer;
}
#savedDataDeleteBtn:hover {
  opacity: 1;
  transform: scale(1.2);
  color: var(--tertiary);
  border-color: var(--tertiary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}
#trashBinIcon {
  color: inherit;
}
@media (max-width: 1100px) {
  .mainContainer {
    max-width: 700px;
    grid-template-columns: 100%;
  }
  #rateBoardContent {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-gap: 2rem; */
  }
}
@media (max-width: 400px) {
  #saveBtn,
  #savedDataSection {
    display: none;
  }
  .mainContainer {
    max-width: 300px;
    margin: 0 auto;
  }
  .mainContainer > * {
    width: 100%;
  }
  .mainContent > * {
    width: 100% !important;
  }
  #rateBoardContent {
    grid-template-columns: auto;
  }
  .inputBox {
    padding: 2rem;
  }
  .inputFields {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
  }
  #swapBtn {
    order: -1;
  }
  .eachInputWrap-input {
    order: -2;
  }
  .information {
    display: none;
  }
  :root {
    font-size: 14px;
  }
  #resultAmount {
    font-size: 1.5rem;
  }
}
